{{!-- <table class="table table-hover general-table">{{yield}}</table> --}}


{{#if needSwitchColumn}}
<div class="switchColumnOptions">
	<a data-toggle="dropdown">列<span class="caret"></span></a>
	<ul class="dropdown-menu scrollbar" data-bubble="false">
		{{#each switchColumnOptions as |item|}}
	    <li data-index="{{item.index}}" data-name="{{item.name}}">
	    	<label>
		    	<input type="checkbox" {{bind-attr checked=item.checked}}>
		    	<a>{{item.text}}</a>
	    	</label>
	    </li>
	    {{/each}}
	</ul>
</div>
{{/if}}

{{yield}}
