{{#cp-toolbar}}

{{/cp-toolbar}}
<div class="panel">
	<div class="panel-heading">
		栏目列表
		<div class="pull-right">
			{{#link-to "core.column.new"}}添加栏目{{/link-to}}
		</div>
	</div>
	<div class="panel-body">
		{{#cp-table }}
			<table>
				<thead>
					<tr>
						<th>名称</th>
						<th>创建时间</th>
						<th>修改时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{{#each columns as |column|}}
					<tr>
						<td>{{column.name}}</td>
						<td>{{format-datetime column.created_at}}</td>
						<td>{{column.updated_at}}</td>
						<td>
							{{#link-to "core.column.edit" column.id class="btn"}}
								编辑
							{{/link-to}}
							<a href="" {{action "del" column}} class="btn">删除</a>
						</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		{{/cp-table}}
	</div>
</div>


{{#cp-dialog title="提示" style="margin-top:15%;" fire=ifDialog submitAction=dialogCallback}}
  <div class="modal-body">
    {{dialogContent}}
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
      <button type="submit" class="btn btn-success btn-sm">确定</button>
  </div>
{{/cp-dialog}}