{{#cp-toolbar}}
{{#link-to "core.article.new" class="btn btn-success btn-sm"}}添加文章{{/link-to}}
{{/cp-toolbar}}

{{#cp-table}}
<table>
  <thead>
    <tr>
      <th>标题</th>
      <th>栏目</th>
      <th>状态</th>
      <th>点击数</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {{#each formatArticles as |article|}}
    <tr>
      <td>{{article.title}}</td>
      <td>{{article.column_name}}</td>
      <td>{{article.flag}}</td>
      <td>{{article.click}}</td>
      <td>{{format-datetime article.updated_at}}</td>
      <td>{{format-datetime article.created_at}}</td>
      <td>
        {{#link-to "core.article.edit" article._id class="btn btn-default btn-xs"}}编辑{{/link-to}}
        <a class="btn btn-default btn-xs" {{action "delete" article._id}}>删除</a>
        {{!-- <a {{action "edit" article}} href="" class="">编辑</a> --}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{/cp-table}}
{{#cp-dialog title="提示" style="margin-top:5%;" fire=ifDialog submitAction=dialogCallback}}
  <div class="modal-body">
    {{dialogContent}}
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
      <button type="submit" class="btn btn-success btn-sm">确定</button>
  </div>
{{/cp-dialog}}